<h1>xx results for <em class="query"><%= @query %></em></h1>
<div class="search-results-wrapper">
<% @searchResults['results'].each do |corpusResultSet|  %>
	<h2><%= corpusResultSet['results'].length %> results from <span><%= corpusResultSet['corpus'] %></span></h2>
	<% corpusResultSet['results'].each do |corpusResult|  %>
		<article class="search-result">
			<a href="<%= corpusResult['url'] %>"><%= corpusResult['title'] %></a>
        </article>
	<% end %>
<% end %>	
</div>
